@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @theme {
  --color-clay_light:
    #bcbcbc, --color-clay_dark: #3d3d3d, --color-rust: #b7410e,
    --color-rose_dark: #ac6e6d, --color-rose_light: #c57f7d,
    --color-mustard: #daaa00, --color-gold_dark: #fbda44,
    --color-gold_light: #ffe600, --color-army_green: #475320,
    --color-algae: #54b148, --color-breadfruit: #93fb44, --color-denim: #6589b0,
    --color-tahiti: #ece8e2;
} */
