@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* @theme {
  --animate-morph: morph 3s linear infinite;

  @keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    25%, 75% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    50% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
} */


body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

canvas {
  touch-action: pan-x; /* Allows horizontal panning, prevents vertical scrolling */
  /* OR */
  touch-action: none; /* Prevents all default touch behaviors */
}

/* @theme {
  --color-clay_light:
    #bcbcbc, --color-clay_dark: #3d3d3d, --color-rust: #b7410e,
    --color-rose_dark: #ac6e6d, --color-rose_light: #c57f7d,
    --color-mustard: #daaa00, --color-gold_dark: #fbda44,
    --color-gold_light: #ffe600, --color-army_green: #475320,
    --color-algae: #54b148, --color-breadfruit: #93fb44, --color-denim: #6589b0,
    --color-tahiti: #ece8e2;
} */

/* 
.testMe {
  animation: morph 3s linear infinite;
} */